<h1>Places</h1>

    <div class="d-flex justify-content-between mb-3">
      <a href="/places/new/" class="btn btn-success">New Place</a>
    </div>


<% if @current_user%>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>


<% else %>
  You must first <a href="/login">login</a> to see places.
<% end %>


